* {
    box-sizing: border-box;
}
body {
    background-image : url(/img/FleurDeLisGoldPurpleBorder.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: gold;
}

div
{
    text-align: center;
}

.column
{
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after
{
    content: "";
    clear: both;
    display: table;
}